  <h3><%= title %></h3><br>
  <img src="<%= foto %>" height="80" width="80">
  <hr>
  Aplicación desarrollada por <%= autor %>.
  <br>
  <p>Correo: <%= email %></p>
  <p>Blog: <%= blog %></p>
  <p>Licencia:  GPLv2</p>
